html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 100%;
}

/*
#informationBar {
    position: absolute;
    top: 70px;
    left: 25px;
    width: 311px;
    height: 80vh;
    background-color: #ffffff;
    box-shadow: 3px 3px 12px gray;
    padding: 3px;
    overflow: auto;
}
*/


#informationBar {
    position: absolute;
    top: 70px;
    left: 25px;
    width: 390px;
    height: 80vh;
    background-color: #ffffff;
    box-shadow: 3px 3px 12px gray;
    padding: 3px;
    overflow: auto;
}

#clearBtn {
    margin: 15px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

 #clearBtn:hover {
        color: #c34040;
    }



#infoForPhone {
    display: none;
    width: 100%;
    margin-top:65px;
    box-shadow: 3px 10px 30px gray;
}

#myTabContent {
    margin-top: 15px;
}

.card:hover {
    cursor: pointer;
    color: #0d82e6;
}

.card-title {
    padding-left: 10px;
    padding-top: 5px;
}

.card-text {
    padding: 5px;
}


span.fa.fa-chevron-down {
    padding-left: 10px;
}

.toggleContent {
    display: none;
}

#iframe1 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#back {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;

}

@media screen and (orientation: portrait) {

    #map {
        height: 50%;
        width: 100%;
    }

    #informationBar {
        position: relative;
        width: 100%;
        height: 80vh;
        top: 0px;
        left: 0px;
        background-color: #ffffff;
        overflow: auto;
    }

    

}
